.flex {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-row-start {
	display: flex;
	justify-content: flex-start;
}

.flex-row-between {
	display: flex;
	justify-content: space-between;
}

.flex-row-center {
	display: flex;
	justify-content: center;
}

.flex-row-end {
	display: flex;
	justify-content: flex-end;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-col-start {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.flex-col-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.align-cen {
	align-items: center;
}

//flex
$flexSizes: none, 1, 2, 3;

@each $animal in $flexSizes {
	.flex-#{$animal} {
		flex: #{$animal};
	}
}

// gap
$gapSizes: 2, 4, 6, 8, 10, 12, 20, 30;

@each $animal in $gapSizes {
	.gap#{$animal} {
		gap: #{$animal}px;
	}
}