// 宽高
.vwh-full {
	width: 100vw;
	height: 100vh;
}

.vh {
	height: 100vh;
}

.wh-full {
	width: 100% !important;
	height: 100% !important;
}

.w-full {
	width: 100% !important;
}

.h-full {
	height: 100% !important;
}

.w-auto {
	width: auto !important;
}

.h-auto {
	height: auto !important;
}

$distance: 22, 26, 36, 40, 60, 54, 70, 90, 100, 120, 130, 200, 300, 400, 500, 600;

// 宽 width
@each $animal in $distance {
	.wh#{$animal} {
		width: #{$animal}px;
		height: #{$animal}px;
	}

	.w#{$animal} {
		width: #{$animal}px;
	}

	.h#{$animal} {
		height: #{$animal}px;
	}

	.line-h#{$animal} {
		line-height: #{$animal}px;
	}
}


$overflow: hidden, auto, scroll;

// overflow
@each $animal in $overflow {
	.over-#{$animal} {
		overflow: #{$animal};
	}

	.over-#{$animal}-i {
		overflow: #{$animal} !important;
	}

	.over-x-#{$animal} {
		overflow-x: #{$animal};
	}

	.over-y-#{$animal} {
		overflow-y: #{$animal};
	}
}