// 边距
$sizes: -10, 0, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 30, 32, 90, 100;

@each $animal in $sizes {

	// 外边距
	.mar-top-#{$animal} {
		margin-top: #{$animal}px;
	}

	.mar-left-#{$animal} {
		margin-left: #{$animal}px;
	}

	.mar-right-#{$animal} {
		margin-right: #{$animal}px;
	}

	.mar-bot-#{$animal} {
		margin-bottom: #{$animal}px;
	}

	.mar-tb-#{$animal} {
		margin-top: #{$animal}px;
		margin-bottom: #{$animal}px;
	}

	.mar-lr-#{$animal} {
		margin-left: #{$animal}px;
		margin-right: #{$animal}px;
	}

	.mar-#{$animal} {
		margin: #{$animal}px;
	}

	// 内边距
	.pad-top-#{$animal} {
		padding-top: #{$animal}px;
	}

	.pad-left-#{$animal} {
		padding-left: #{$animal}px;
	}

	.pad-right-#{$animal} {
		padding-right: #{$animal}px;
	}

	.pad-bot-#{$animal} {
		padding-bottom: #{$animal}px;
	}

	.pad-tb-#{$animal} {
		padding-top: #{$animal}px;
		padding-bottom: #{$animal}px;
	}

	.pad-lr-#{$animal} {
		padding-left: #{$animal}px;
		padding-right: #{$animal}px;
	}

	.pad-#{$animal} {
		padding: #{$animal}px;
	}
}